/*.container {
    background-color: #00AEF0;
    width: 100%;

}

.people-wrapper {
    padding: 2%;
 }

.single-person {
    border: 1px solid black;
    border-radius: 5px;
    margin: 2%;
}

.single-planet {
    border: 1px solid black;
    margin: 2%;
    border-radius: 5px;
}
*/
