body {
    background-color: #CACFD2;
    font-size: 25px;
}

h1, h2 {
    color: lightgoldenrodyellow;
}

nav {
    color: white;
}
nav mark{
    color: white;
    background-color: lavender;
}

nav a {
    color: white !important;
}

h1, nav {
    text-align: center;
}
.footer {
    text-align: center;
    font-family: Calibri;
}

.link {
    text-align: left;
    }


